<template lang="html">
  <div></div>
</template>
<script>

import Vue from 'vue'
import Toasted from 'vue-toasted'

Vue.use(Toasted, {
  duration: '250000',
  fullWidth: true,
  singleton: true,
  theme: 'primary',
  position: 'top-center'
})

export default {
  name: 'Toaster',  
  methods: {
    handleCompleteToaser: function() {
      Vue.toasted.clear()
      this.$emit('onCompleteToaser')
    }
  },
  computed: {},
  components: {  },
  props: {
    type: {
      type: String,
      default: 'success'
    },
    message: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
  },
  watch: { 
    message: function(new_val) {
      Vue.toasted.show(new_val, {
        type: this.type,
        onComplete: this.handleCompleteToaser
      })
    }
  },

  data () {
    return {}
  },
  beforeCreate () {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .toasted-container {
    max-width: 100% !important;
    top: 0 !important;
  }


</style>
