<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app',
    components: {},
    beforeCreate: function(){
     var vm = this;
      console.log('App.vue beforeCreate')
    },
    mounted: function () {
      var vm = this;
      console.log('App.vue mounted')
    }
  }
</script>

<style>
body {
  background: #7955480a;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

#body {
  background-color: #efefef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.tabs-times .nav-tabs {
  border-bottom: none;
}

.tabs-times ul.nav {
  margin-left: 4%;
  margin-bottom: 12px;
}

.tabs-times ul.nav li {
  border-radius: 0;
}

.tabs-times .nav-pills .nav-link {
  border-radius:0;
}

.tabs-times ul.nav li a {
  color: rgb(31,197,40);
  padding: 0;
  margin-right: 16px;
}

.tabs-times .nav-pills .nav-link.active,.tabs-times  .nav-pills .show > .nav-link {
  border-bottom: 2px solid rgb(19,14,45);
  color: rgb(19,14,45);
  background-color: transparent;
}

.flag-icon.flag-icon-squared {
    width: 1.33333333em !important;
}

.navbar-top {
  background: #fff;
  margin-top: -60px;
  height: 60px;
  line-height: 44px;
}

.navbar-top li {
  color: rgb(19,14,45);
  font-size: 1.2em;
  font-weight: lighter;
}

.navbar-back {
  border-radius: 26px;
  width: 52px;
  height: 52px;
  margin-top: -4px;
  display: block;
  margin-left: -12px;
  line-height: 48px;
}

.navbar-back:hover {
  text-decoration: none;
}

.navbar-top svg {
  fill: #00B229;
}

.navbar.navbar-top.navbar-green, .navbar .navbar-green {
  background-color: #00D231;
  padding: 0;
}

.navbar.navbar-top.navbar-green > div {
  order: unset;
}

.navbar.navbar-top.navbar-green > div:nth-child(1) {
  width: 20%;
  float: left;
}
.navbar.navbar-top.navbar-green > div:nth-child(2) {
  width: 59%;
  float: left;
}
.navbar.navbar-top.navbar-green > div:nth-child(3) {
  width: 20%;
  float: right;
}


.navbar.navbar-top.navbar-green a,
.navbar.navbar-green a {
  color: #fff;
}

.navbar.navbar-top.navbar-green svg {
  fill: #fff;
}

.user-cards li {
  display: inline-block;
  margin: 0 10px;
}
.user-cards img {
  max-width: 80px;
}
.user-avatar-large img {
  border-radius: 74px;
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 3px #00D231 ;
}

.btn-mixx {
  background: #00D231;
  color: #fff;
}

.btn-im-int {
  margin-top: 16px;
  margin-bottom: 22px;
}

.btn-outline-success {
  color: #1fc528;
  border-color: #1fc528;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #1fc528;
  border-color: #1fc528;
}

.btn-success {
  color: #fff;
  background-color: #1fc528;
  border-color: #1fc528;
}
</style>
