<template >
  <div class="event-detail">
    
    <nav class="navbar navbar-top">
      <ul class="nav nav-pills">
        <li>
          <a href="#" class="navbar-back" @click="goBack()">
            <ui-icon icon="arrow-left"></ui-icon>
          </a>
        </li>
        <li>{{ msg }}</li>
      </ul>
    </nav>

    <div class="scroll-main">
      <ul class="event-detail-photos">
        <li :style="getPhoto()"></li>
        <li>{{description}} {{address}}</li>
      </ul>
      <div>
        <b-tabs pills class="tabs-times" style="border-bottom: 0;">
          <b-tab title="7:00pm" active>
            <div class="event-title">
              Mixx after-dinner gathering at... {{eventUtcTime}}
            </div>
            <div class="event-description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </div>
            <div>
              <button v-on:click="rsvp" class="btn btn-default btn-mixx full-width btn-im-int">I'M INTERESTED</button>
            </div>
            <div>
              <ul class="user-cards">
                <li v-for="(gng, ind) in goingUsers" :key="ind">
                  <router-link :to="{ name: 'User', params: { userId: gng.id }}" class="user-avatar-large">
                    <b-img rounded="true" :src="gng.photo" blank-color="#777" alt="img" class="m-1" />
                  </router-link>
                  <p>{{ gng.username }} <flag iso="us" :squared="squaredIcons" /></p>
                  <p>{{ gng.note }}</p>
                </li>
              </ul>
            </div>
          </b-tab>
          <b-tab title="8:00pm" >
            <div class="event-title">
              Mixx night gathering at... {{eventUtcTime}}
            </div>
            <div class="event-description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </div>
            <div>
              <button v-on:click="rsvp" class="btn btn-default btn-mixx full-width btn-im-int">I'M INTERESTED</button>
            </div>
            <div>
              <ul class="user-cards">
                <li v-for="(gng, ind) in goingUsers" :key="ind">
                  <router-link :to="{ name: 'User', params: { userId: gng.id }}" class="user-avatar-large">
                    <b-img rounded="true" :src="gng.photo" blank-color="#777" alt="img" class="m-1" />
                  </router-link>
                  <p>{{ gng.username }}</p>
                  <p>{{ gng.note }}</p>
                </li>
              </ul>
            </div>
          </b-tab>
          <b-tab title="9:45pm">
            <div class="event-title">
              Mixx late-night gathering at... {{eventUtcTime}}
            </div>
            <div class="event-description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            </div>
            <div>
              <button v-on:click="rsvp" class="btn btn-default btn-mixx full-width btn-im-int">I'M INTERESTED</button>
            </div>
            <div>
              <ul class="user-cards">
                <li v-for="(gng, ind) in goingUsers" :key="ind">
                  <router-link :to="{ name: 'User', params: { userId: gng.id }}" class="user-avatar-large">
                    <b-img rounded="true" :src="gng.photo" blank-color="#777" alt="img" class="m-1" />
                  </router-link>
                  <p>{{ gng.username }}</p>
                  <p>{{ gng.note }}</p>
                </li>
              </ul>
            </div>
          </b-tab>
          <b-tab title="11:30pm">
            <div class="event-title">
              Mixx midnight gathering at... {{eventUtcTime}}
            </div>
            <div class="event-description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            </div>
            <div>
              <button v-on:click="rsvp" class="btn btn-default btn-mixx full-width btn-im-int">I'M INTERESTED</button>
            </div>
            <div>
              <ul class="user-cards">
                <li v-for="(gng, ind) in goingUsers" :key="ind">
                  <router-link :to="{ name: 'User', params: { userId: gng.id }}" class="user-avatar-large">
                    <b-img rounded="true" :src="gng.photo" blank-color="#777" alt="img" class="m-1" />
                  </router-link>
                  <p>{{ gng.username }}</p>
                  <p>{{ gng.note }}</p>
                </li>
              </ul>
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </div> <!-- End .scroll-main -->
    <navbar></navbar>    
  </div>
</template>

<script>
import {db} from '../utils/firebase'
import Icon from './Icon.vue'
import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'
Vue.use(VueSVGIcon)

const googleMapsKey = 'AIzaSyCWcLyE7iyJd5KryIRXixCWJGWuEg9pJR4';

export default {
  name: 'Detail',
  data () {
    return {
      msg: 'Queen Nightclub',
      goingUsers: [],
      photo: '',
      eventUtcTime: '',
      address: '',
      name: '',
      description: '',

      // eventData: {}
    }
  },
//  props: ['msg','goingUsers','photo','eventUtcTime','address','name'],
  methods: {
    rsvp: function (e) {
      console.log('clicked rsvp')
    },
    maybe: function (e) {
      console.log('clicked maybe')
    },
    getPhoto () {
      return 'background-image: url(' + this.photo + '); background-position: center; height: 240px; background-repeat: no-repeat; background-size: 100% auto;' 
    },
    goBack () {
      window.history.back();
    }
  },
  beforeCreate () {
    console.log('before')
    var vm = this

    var eventId = vm.$route.params.eventId
    console.log(vm.$route.params)
    console.log(eventId)

    var eventRef = db.ref('events/' + eventId)
    //this.firebase = eventRef;
   vm.$bindAsObject('eventData', eventRef)

    var userRef = db.ref('userCards')

    eventRef.child('place').once('value')
      .then((pSnap)=>{
      var placeData = pSnap.val();

      var getPhotoUrl = '';
      //console.log(vm);
      if(placeData){
        console.log('we have a place!')
        if(placeData.photos){
          console.log('we have place photos!');
          var placePhoto = placeData.photos[0].photo_reference;
          getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=1000&maxwidth=1000&key=' + googleMapsKey; 
          console.log('setting the photo url to: ' + getPhotoUrl)
          vm.photo = getPhotoUrl;
        }
      }
      })

    eventRef.child('going').once('value')
      .then(function (ds) {
        var going = ds.val()
        var gU = Object.keys(going).map(function (gk) {
          return userRef.child(gk).once('value')
            .then(function (ud) {
              var u = ud.val()
              u.id = gk
             // u.note = going[gk].note
              return u
            })
        })
        return Promise.all(gU)
      })
      .then(function (gu) {
        vm.goingUsers = gu
      })

  },
  mounted: function () {
    // console.log(this)
    console.log('hey there', this)
  },
  computed: {
    squaredIcons () {
      return false; 
    }
  },
  components: {
    "svgicon": VueSVGIcon,
    "ui-icon": Icon
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #42b983;
}
.event-detail img {
  width: 100%;
}

.event-detail-photos {
  height: 240px;
  overflow: hidden;
}

.full-width {
  width: 92%;
  margin: 0 4%;
}

.nav-times-available {
  margin-left: 4%;
  font-size: 0.96em;
}

.nav-times-available a {
  color: rgb(31,197,40);
  margin-right: 22px;
  height: 26px;
  display: block;
}
.nav-times-available a.active, .nav-times-available a:hover {
  border-bottom: 2px solid rgb(19,14,45);
  color: rgb(19,14,45);
  cursor: pointer;
}
nav.nav-pills {
  margin-bottom: 18px;
}

.event-title {
  font-weight: bold;
}
.event-title, .event-description {
  text-align: left;
  width: 92%;
  margin: 0 4%;
  font-size: 0.9em;
}
</style>
