<template>
  <b-container>
      <b-form>
        <b-row>
          <b-col>
            <h4>{{ msg }}</h4>
          </b-col>
        </b-row>

        <b-row>
          <b-col xs="1">
            <b-form-group>
              <b-img rounded="true" v-model="photo" blank width="75" height="75" blank-color="#777" alt="img" class="m-1" />
              <input type="file" @change="onFileChange" />
            </b-form-group>
          </b-col>
          <b-col xs="6">
            <b-form-group>
              <b-form-input type="text" v-model="email" placeholder="Email Address"></b-form-input>
              <b-form-input type="password" v-model="password" placeholder="Password"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <b-form-group>
              <b-form-input  type="text" v-model="username" placeholder="username" ></b-form-input>
              <b-form-input  type="text" v-model="age" placeholder="age" ></b-form-input>
              <b-form-input  type="text" v-model="country" placeholder="country" ></b-form-input>
              <b-form-textarea v-model="bio" placeholder="bio"></b-form-textarea>
              <input type="hidden" v-model="photo" />
              <b-button v-on:click="register">Signup</b-button>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <h5>Already have an account? <router-link to="/login">Sign in here</router-link></h5>
          </b-col>
        </b-row>
      </b-form>
  </b-container>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'

export default {
  name: 'signup',
  data () {
    return {
      msg: 'Sign up',
      username: '',
      age: '',
      country: '',
      bio: '',
      photo: '',
      email: '',
      password: '',
      confirm_password: '',
      photo_file: null,
      userid: null
    }
  },
  methods: {
    register: function () {
      var vm = this
      var userData = {
        username: vm.username,
        age: vm.age,
        country: vm.country,
        bio: vm.bio,
        photo: vm.photo
      }
      var email = vm.email
      var password = vm.password
      console.log(userData)
      console.log('creating user account with')
      console.log(email)
      console.log(password)
      firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
        // Handle Errors here.
        // var errorCode = error.code
        // var errorMessage = error.message
        console.log(error)
      })

      firebase.auth().onAuthStateChanged((user) => {
        console.log('SIGNUP: auth changed')
        if (user) {
          console.log('SIGNUP GOT US A USERID')
          vm.userid = user.uid
          vm.saveProfile(userData)
        }
      })
    },
    saveProfile: function (uData) {
      var vm = this
      return db.ref('users/' + vm.userid).set(uData)
        .then(function () {
          vm.$router.push('/home')
        })
        .catch(function (err) {
          console.log(err)
          throw new Error(err)
        })
    },
    onFileChange: function (e) {
      var files = e.target.files || e.dataTransfer.files
      console.log(files)
      if (files[0]) {
        this.upload(files[0])
      }
    },
    upload: function (f) {
      var vm = this
      // File or Blob named mountains.jpg
      var file = f
      const name = (+new Date()) + '-' + file.name

      // Create the file metadata
      var metadata = {
        contentType: f.type
      }

      // Upload file and metadata to the object 'images/mountains.jpg'
      var uploadTask = storage.child('user_images/up/' + name).put(file, metadata)

      // Listen for state changes, errors, and completion of the upload.
      uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
        function (snapshot) {
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          console.log('Upload is ' + progress + '% done')
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: // or 'paused'
              console.log('Upload is paused')
              break

            case firebase.storage.TaskState.RUNNING: // or 'running'
              console.log('Upload is running')
              break
          }
        }, function (error) {
        // A full list of error codes is available at
        // https://firebase.google.com/docs/storage/web/handle-errors
          switch (error.code) {
            case 'storage/unauthorized':
              console.log(error)
              // User doesn't have permission to access the object
              break

            case 'storage/canceled':
              console.log(error)
              // User canceled the upload
              break

            case 'storage/unknown':
              console.log(error)
              // Unknown error occurred, inspect error.serverResponse
              break
          }
        }, function () {
          // Upload completed successfully, now we can get the download URL
          var downloadURL = uploadTask.snapshot.downloadURL
          vm.photo = downloadURL
          console.log(downloadURL)
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
