<template >
  <div class="events-page">
    <div class="pre-scrollable">
      <ul v-for="(evt, ind) in event_list" :key="ind"  class="list-group">
        <my-event-card v-bind:item="evt"></my-event-card>
      </ul>
    </div>
    <navbar></navbar>
  </div>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'
import MyEventCard from '@/components/MyEventCard'

export default {
  name: 'Events',
  data () {
    return {
      event_list: []
    }
  },
  components: {
    MyEventCard
  },
  // firebase: {
  //    event_list: null, //this.userGoing.orderByChild('time').limitToLast(20)
  // },
  beforeCreate: function(){
    var vm = this;
    var user = firebase.auth().currentUser;
    var name, email, photoUrl, uid, emailVerified;

    if (user != null) {
      name = user.displayName;
      email = user.email;
      photoUrl = user.photoURL;
      emailVerified = user.emailVerified;
      uid = user.uid;  
      console.log('MyEvents: ' + uid);
    }
    vm.uid = uid;
    // vm.userGoing = db.ref('users/'+ uid + '/events');
    // vm.firebase.event_list = vm.userGoing.orderByChild('time').limitToLast(20)

  },
  //props: ['event_list'],
  mounted: function () {
    var vm = this;
    console.log(this)
    console.log(this.data)
    var myEventRef =  db.ref('users/'+ this.uid + '/events');
    var mainEventRef = db.ref('events');

    myEventRef.orderByChild('time').limitToLast(50).on('value', (s,err) => {
      console.log('success from events');
      var evtObj = s.val();

      var eventList = Object.keys(evtObj).map((e) =>{
        //console.log('setting up promise for: ' + e);

        return new Promise((res,rej) =>{

          mainEventRef.child(e).once('value',(er)=>{
            //console.log('back from promise for: ' + e);
            //console.log(er.val());
            var eData = er.val() || {};

            eData.eventId = e;
            res(eData);
          });

        });

      })

      Promise.all(eventList)
        .then((r) =>{
          //console.log(r);
          this.event_list = r;
        },(error) =>{
          console.error(error);
        })
    })

    console.log('Events component: mounted')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
