<template>
  <div class="event-card container" v-on:click="viewEvent" style="background-color: #ffffff; margin:5px;height:196px;">
    <div class="row" style="height:50%">
      <div class="event-card-photo">
        <img :src="photo" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{ name }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p> Who is going?</p>
      </div>
    </div>
    <div class="row">
      <div v-for="(g, ind) in going" :key="ind" class="user-going">
        <img :src="g.photo" class="img img-circle rounded-cirlce" height="40" width="40" v-bind:alt="g.username" />
      </div>  
    </div>
    <div class="row">
    </div>
    <!--<img :src="getSkeltonPath()" /> -->
    <!-- <b-img rounded="true" :src="photo" v-bind="photo" width="75" height="75" blank-color="#777" alt="img" class="m-1" /> -->
    <!-- <router-link :to="{ name: 'Detail', params: { eventId: evt['.key'] }}">{{evt.description}}</router-link> -->
  </div>
</template>

<script>

import SkeletonCard from '../assets/img/skeletoncard.png'

const googleMapsKey = 'AIzaSyCWcLyE7iyJd5KryIRXixCWJGWuEg9pJR4';

export default {
  name: 'event-card',
  props: ['card'],
  data () {
  //  console.log('EventCard.vue data: ' + JSON.stringify(this.card.place.photos));
    var vm = this;
    var getPhotoUrl = '';
    //console.log(vm);
    //
    if(!vm.card.place && vm.card.photos){
     vm.card.place = vm.card;
    }
    
    if(vm.card.place){
      console.log('we have a card place!')


      if(vm.card.place.photos){
        console.log('we have place photos!');
        var placePhoto = vm.card.place.photos[0].photo_reference;
        getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 
   //     console.log('setting the photo url to: ' + getPhotoUrl)
        vm.card.photo = getPhotoUrl;
      }
    }
    /*        var placePhoto = _eD.place.photos[0].photo_reference;
       // const apiKey = googleMapsKey;

        var getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 

        _eD.photo = getPhotoUrl;
        */
    return {
      name: vm.card.name,
      photo: getPhotoUrl,
      going: vm.card.going || []
    }
  },
  beforeCreate () {
  //  console.log('beforeCreate() event-card')
   
  },
  created () {
 //   console.log('created() in event-card')
  },
  methods: {
    getSkeltonPath () {
      return SkeletonCard;
    },
    viewEvent (){
      var vm = this;
      console.log('viewevent clicked');
      console.log(this);
      vm.$router.push("detail/" + vm.card['.key']);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.event-card{
  width: 140px;
  height: 180px;
  border-radius: 6px;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.1);
}

.event-card .row:first-child {
  height: 80px;
  margin-top: 0;
}

.event-card .row:first-child img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.event-card > .row {
  height: auto;
  margin-top: -18px;
  white-space: normal;
}

.event-card .row img {
  border-radius: 40px;
  background-color: #ccc;
  z-index: 3;
}


.event-card > .row > div {
  max-width: 140px;
  word-wrap: break-word;
}

.event-card > .row > div p {
    word-wrap: normal;
    overflow: hidden;
    text-align: left;
    margin-top: 4px;
    height: 36px;
    line-height: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 16px;
}

.event-card > .row .user-going {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-left: -14px;
  position: relative;
  z-index: 3;
}

.event-card > .row .user-going:hover {
  z-index: 9;
}

.event-card > .row .user-going:first-child {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-left: 8px;
}

.event-card > .row:nth-child(2) > div p {
  font-weight: bold;
}

.event-card > .row:nth-child(3) {
  height: 26px;
  margin-bottom: 20px;
  > div {
    height: 26px;
  }
}

.event-card .row p {
  font-size: 0.8em;
  padding: 2px 6px;
}

.event-card-photo {
  height: 80px;
  overflow: hidden;
  width: 100%;
}

.event-card img {
  width: 100%;
  border-right: 1px solid rgba(255,255,255,0.1);
  overflow: hidden;
}

.user-going {
  margin-left: 6px;
}
</style>
