<template>
  <b-container id="layoutcontainer" fluid>

    <b-row id="searchrow">
      <b-col xs="9">
        <gmap-autocomplete class="form-control" :value="description"
          @place_changed="setPlace">
        </gmap-autocomplete>
      </b-col>
      <b-col xs="3">
        <b-form-input type="date" placeholder="Tue, 22"></b-form-input>
      </b-col>
    </b-row>

    <div id="mapcontainer">

      <b-row>
        <b-col>
          <gmap-map
            :center="center"
            :zoom="11"
            style="height:680px; width:100%"
          >
          <gmap-marker
            :class="vue-map"
            :key="index"
            v-for="(m, index) in event_list"
            :position="m.location"
            :clickable="true"
            :draggable="true"
            :label="m.key"
            @click="center=m.location"
          ></gmap-marker>
          <gmap-marker
            v-if="this.center"
            label="★"
            :position="{
              lat: this.center.lat,
              lng: this.center.lng,
            }"
          ></gmap-marker>
          </gmap-map>
        </b-col>
      </b-row>

      <b-container fluid id="cardcontroloverlay">
        <div class="add-button-group">
          <router-link to="/add" tag="button">Add Event</router-link>
        </div>
        <div class=" card-group">
          <b-row>
            <div v-for="(evt, ind) in event_list" :key="ind" class="col-xs-4">
              <event-card v-bind:card="evt"></event-card>            
            </div>
          </b-row>
        </div>

      </b-container>

      <navbar></navbar>

    </div>


  </b-container>
</template>

<script>
import {firebase, db, storage} from '../utils/firebase'
import EventCard from '@/components/EventCard'

const axios = require('axios');

var eventList = db.ref('events')
var userLat = 0;
var userLng = 0;


export default {
  name: 'home',
//  lat: 29.937215,
//  lng: -90.106140,
  data () {
    return {
      center: {lat: userLat, lng: userLng},
      markers: [],
      description: '',
      place: null,
      vue: '',
      event_list: []
    }
  },
  components: {
    EventCard
  },
  props: ['name','photo','map'],
  // firebase: {
  //   // event_list: eventList.orderByChild('eventUtcTime').limitToLast(20)
  //           var placePhoto = _eD.place.photos[0].photo_reference;
  //      // const apiKey = googleMapsKey;

  //       var getPhotoUrl = 'https://maps.googleapis.com/maps/api/place/photo?photoreference=' + placePhoto +'&maxheight=102&maxwidth=146&key=' + googleMapsKey; 

  //       _eD.photo = getPhotoUrl;
         
  // },
  beforeCreate () {
    console.log('Home: beforeCreate home')
    var vm = this;

    var user = firebase.auth().currentUser;
    var name, email, photoUrl, uid, emailVerified;

    if (user != null) {
      name = user.displayName;
      email = user.email;
      photoUrl = user.photoURL;
      emailVerified = user.emailVerified;
      uid = user.uid;  
      console.log('Home.vue: ' + uid);
      user.getIdToken(true)
        .then((t) =>{
          vm.btoken = t;
          console.log('back with token: ' + t);

          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
              console.log(position);
              vm.center.lat = position.coords.latitude;
              vm.center.lng = position.coords.longitude;
              console.log(vm.center.lat);
              console.log(vm.center.lng);
              vm.getUserEvents(vm.center.lat, vm.center.lng)
              vm.getRecommendedVenues(vm.center.lat, vm.center.lng)

            }, (err) =>{
              console.error(err);
            });
          } else {
            error('not supported');
          }
        })
    }
    vm.uid = uid;
  },
  created () {
    console.log("Home: created");
  },
  mounted(){
    console.log("Home: mounted")
  },
  methods: {
    setDescription (description) {
      this.description = description
    },
    setPlace (place) {
      this.place = place
      this.lat = place.geometry.location.lat()
      this.lng = place.geometry.location.lng()
      this.center = {
        lat: this.lat,
        lng: this.lng
      }
      console.log(this.center)
      console.log(this.markers)
    },
    getRecommendedVenues(_lat,_lng){
      var vm = this;
      console.log('Home: getRecommendedVenues() with: ' + vm.btoken);
      return axios.get('https://us-central1-mixx-8b601.cloudfunctions.net/api/places/lat/'+encodeURI(_lat) + '/lng/'+encodeURI(_lng) + '/recommend',
      {
        headers: { 
          "Authorization": "Bearer " + vm.btoken.trim(),
          //'Access-Control-Allow-Origin': '*', 
          'Content-Type': 'application/json'
        },
      })
      .then((response) =>{
        console.log(response);
        vm.event_list = response.data.places;
      })
      .catch((error) =>{
        console.error(error);
      })
    },
    getUserEvents(_lat, _lng){

      var vm = this;
      console.log('Home: getUserEvents() with: ' + vm.btoken);
      return axios.get('https://us-central1-mixx-8b601.cloudfunctions.net/events/nearby/lat/'+encodeURI(_lat) + '/lng/'+encodeURI(_lng),
      {
        headers: { 
          "Authorization": "Bearer " + vm.btoken.trim(),
          //'Access-Control-Allow-Origin': '*', 
          'Content-Type': 'application/json'
        },
      })
      .then((response) =>{
        console.log(response);
      })
      .catch((error) =>{
        console.error(error);
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.vue-map-container{
  width: 100%;
  height: 100%;
}
.vue-map-container .vue-map {
  width: 100%;
  height: 100%;
}

.card-group {
  margin-left: 20px;
}

.card-group > .row {
  overflow: -moz-scrollbars-none;
  overflow-x: scroll;
  white-space: nowrap;
  width: 97%;
  display: block;
  height: 238px;
}

.card-group > .row::-webkit-scrollbar {
  display: none;
}

.card-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
#cardcontroloverlay{
  position:absolute;
  left: 0;
  bottom: 36px;
  margin:0;
  padding:0;
}
#mapcontainer{
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  padding:0;
}
#mapcontainer > .row > .col {
  margin:0;
  padding:0;
}
#layoutcontainer {
  width: 100%;
  background-color: #f9f9f9;
}
#layoutcontainer, #cardcontroloverlay, #searchrow {
  margin:0;
  padding:0;
}
#mapcontainer > .row {
  margin:0;
}
#searchrow {
  height: 60px;
  padding: 0;
  position: absolute;
  top:0;
  z-index: 1;
  width: 100%;
}
#searchrow .col:first-child input {
  width: 85%;
  float: right;
  margin-right: 12px;
  margin-top: 10px;
}
#searchrow .col:last-child input{
  width: 85%;
  float: left;
  margin-left: 12px;
  margin-top: 10px;
}
</style>
