<template>
  <svgicon class="'ui-icon material-icons' + '[icon]'"
    :icon='icon'
    :width="iconSize ? iconSize : '24px'"
    :height="iconSize ? content.iconSize : '24px'"
    aria-hidden='true'>
  </svgicon>
</template>

<script>

import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'
Vue.use(VueSVGIcon)

export default {
  name: 'icon',
  props: {
      content: {
        type: Object,
        default() {
          return {};
        }
      },
      icon: {
        type: String,
        required: true
      },
      iconSize: {
        type: String,
      },
  },
  components: {
    "svgicon": VueSVGIcon
  }
}

</script>

<style>
  .svg-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      color: inherit;
      vertical-align: middle;
      fill: none;
      stroke: currentColor;
  }

  .svg-fill {
      fill: currentColor;
      stroke: none;
  }

  .svg-up {
      /*default*/
      transform: rotate(0deg);
  }

  .svg-right {
       transform: rotate(90deg);
  }

  .svg-down {
      transform: rotate(180deg);
  }

  .svg-left {
      transform: rotate(-90deg);
  }
</style>