<template>
  <li class="list-group-item" v-on:click="viewThread">
    <img v-bind:src="usr.userCard.photo" class="img img-circle img-responsive rounded-circle" height="40" />
    {{usr.userCard.username}}<br />
    {{usr.messages[0].text}}
  </li>
</template>

<script>
import {db, firebase, storage} from '../utils/firebase'

export default {
  name: 'inbox-item',
  // firebase: {
  //   messages: userMessages
  // },
  // data () {
  //   return {
  //     usr: this.usr
  //   }
  // },
  props: ['usr'],
  beforeCreate: function(){
  },
  mounted () {
    console.log('inbox component: mounted')
  },
  methods:{
    viewThread(){
      var vm = this;
      console.log('clicked ');
      vm.$router.push("messages/" + vm.usr.userId);

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
