<template lang="html">
  <div class="container-wrapper">
    <b-container fluid>      
      <Header 
        v-on:onButtonClick="goBack()"
        message="Log in to your account"
      > 
      </Header>
      <form id="login-form" @submit="handleFormSubmit">
        <div class="form-group"> 
          <b-row>
            <b-col cols="12">
              <b-form-input type="email" v-model="email" placeholder="Email"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <b-form-input type="password" v-model="password" placeholder="Password"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <span class="forgot-password">forgot password?</span>
            </b-col>
            <b-col cols="6">
              <div class="remember-account">
                <input type="checkbox"/>
                <span>remember</span>
              </div>
            </b-col>
          </b-row>
        </div>
        <b-row>
          <b-col  class="col-login">
            <b-button variant="success" cols="12" type="submit">LOG IN</b-button>
          </b-col>
        </b-row>
      </form>
    </b-container>
    <Toaster 
      v-on:onCompleteToaser="handleToasterComplete()"
      v-bind:message="error_message"
      type="error"
    >
    </Toaster>
  </div>
</template>
<script>
import { firebase } from '../utils/firebase'

import Header from './components/Header.vue';
import Toaster from './components/Toaster.vue';

import Icon from './Icon.vue'
import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'
Vue.use(VueSVGIcon)

export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: '',
      error_message: ''
    }
  },
  methods: {

    validate: function() {

      if (!this.validateEmail || !this.validatePassword) {        
        this.error_message = 'Invalid Login'
        return false
      }

      return true
    },

    handleToasterComplete: function() {
      this.error_message = null // clear the message
    },

    handleFormSubmit: function(event) {
      event.preventDefault()
      
      if (!this.validate())
        return

      firebase.auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .catch(({ code, message }) => {

        console.log({ code, message })
      })
    },

    goBack () {
      window.history.back();
    }

  },
  beforeCreate () {
    var vm = this

    // firebase.auth().onAuthStateChanged((user) => {
    //   console.log('login.vue: auth changed')
    //   if (user) {
    //     console.log('login.vue: got user ' + user.uid)

    //     vm.$router.push('/home')
    //   }
    // })
  },
  computed: {
    squaredIcons () {
      return false;
    },

    validateEmail() {
      const expression = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return expression.test(String(this.email).toLowerCase())
    },

    validatePassword() {
      return !!this.password
    }
  },
  components: {
    "svgicon": VueSVGIcon,
    "ui-icon": Icon,
    Header,
    Toaster
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .navigation {
    line-height: 1.5;
    width: 100%;
    background: #1fc528;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .navigation-title {
    font-weight: 600;
  }

  .btn-back {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 10px;
    font-weight: 700;
  }

  .col-login button {
    width: 100%;
  }

  .container-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .btn-success {
    color: #fff;
    background-color: #1fc528;
    border-color: #1fc528;
  }

  .form-group {
    margin-top: 20%;
  }

  .form-group .row {
    margin-bottom: 5%;
  }

  .forgot-password {
    float: left
  }

  .remember-account {
    float: right
  }

  @media only screen and (max-width: 768px) {
    button {
      font-size: 12px;
      padding: 9px;
    }
  }
</style>
