<template lang="html">
  <b-container fluid>
    <b-row>
      <b-col cols="5" offset="3" class="logo-wrapper">
        <img src="../assets/img/mixxbnocircle@2x.png" style="width: 100%; max-width: 100%">
      </b-col>
    </b-row>
    <b-row>
      <carousel
        :perPage="1"
        :speed="2500"
        :autoplay="true"
        :paginationPadding="5"
        :autoplayHoverPause="true"
        paginationColor="#9e9e9e42"
        paginationActiveColor="#1fc528"
      >
        <slide v-for="( item, index ) in carousel_items"
          :data-index="index"
          :data-name="item.name"
          v-bind:key="index"
          @slideClick="handleSlideClick"
        >
          <img :src="item.image" style="width: 100%; max-width: 100%;">
          <div class="carousel-content-wrapper">
            <b-row>
              <b-col cols="10" offset="1">
                <span class="carousel-title">{{ item.title }}</span>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8" offset="2">
                <p class="carousel-content">{{ item.content }}</p>
              </b-col>
            </b-row>
          </div>
        </slide>
      </carousel>
    </b-row>
    <b-row class="action-buttons">
      <b-col cols="6" class="col-login">
        <router-link to="login">
          <b-button variant="outline-success">LOG IN</b-button>
        </router-link>
      </b-col>
      <b-col cols="6" class="col-signup">
        <router-link to="signup">
          <b-button variant="success" >SIGN UP</b-button>
        </router-link>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel'

export default {
  name: 'splash',
  components: {
    Carousel,
    Slide
  },
  data () {
    return {
      carousel_items: [
        {
          name: 'image 1',
          image: require('../assets/img/splashimg1@2x.png'),
          title: 'Meet like-minded travelers',
          content: `Set your preference and connect with travelers who share your interests.`
        },
        {
          name: 'image 2',
          image: require('../assets/img/splashimg3@2x.png'),
          title: 'Continue the conversation',
          content: `Stay connectef with people you enjoy through the app.`
        },
        {
          name: 'image 3',
          image: require('../assets/img/splashimg2@2x.png'),
          title: 'Tap into the local scene',
          content: `No plans? No problem! Mixx recommends meeting places.`
        }
      ]
    }
  },
  methods: {
    handleSlideClick: item => {
      console.log('clicked-item: ', item)
    }
  },
  beforeCreate () {
    var vm = this
  },
  mounted () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .carousel-content-wrapper {
    margin-top: 20px;
  }

  .carousel-title {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }

  .carousel-content {
    margin-top: 5px;
    font-size: 11px;
    font-weight: unset;
    color: #9E9E9E;
  }

  @media only screen and (max-width: 768px) {
    .action-buttons {
      position: absolute;
      bottom: 25px;
      left: 15px;
      right: 0;
      width: 100%;
    }

    .btn {
      width: 95%;
    }

    .col-signup {
      padding-left: unset;
    }

    .col-login {
      padding-right: unset;
    }

    .logo-wrapper {
      padding-bottom: 8%;
      padding-top: 5%;
      margin: auto;
    }

    button {
      font-size: 12px;
      padding: 9px;
    }
  }
</style>
