<template>
  <div class="profile-user">
    <nav class="navbar navbar-top navbar-green">
      <div class="order-1 order-md-0">
        <ul class="navbar-nav mr-auto navbar-left">
          <li>
            <a href="#" class="navbar-back" @click="goBack()">
              <ui-icon icon="arrow-left"></ui-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">{{ msg }}</a>
      </div>
      <div class="order-3">
        <ul class="navbar-nav ml-auto navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#"><ui-icon icon="pencil"></ui-icon> Edit</a>
          </li>
        </ul>
      </div>
    </nav>



    <div class="container">
      <div class="user-profile-body">
        <div class="col-sm user-cards">
          <div class="user-avatar-large">
            <img rounded="true" :src="profile.photo" blank-color="#777" alt="img" class="profile-img m-1" />
          </div>
        </div>
        <div class="col-sm user-details">
          <ul class="user-basics-list">
            <li>
              {{ profile.username }}
            </li>
            <li>
              {{ profile.age }} years old <flag :iso="profile.country" :squared="false" />
            </li>
            <li>
              {{ profile.gender }}
            </li>
            <li>
              <strong>Interests</strong> This, that and the other thing.
            </li>
            <li>
              {{ profile.bio }}
            </li>
          </ul>
          <button class="btn btn-default btn-mixx full-width btn-im-int">Message</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {db} from '../utils/firebase'
import Icon from './Icon.vue'
import '../used-icons';
import Vue from 'vue';
import VueSVGIcon from 'vue-svgicon'
Vue.use(VueSVGIcon)

export default {
  name: 'Profile',
  data () {
    return {
      msg: 'Your Profile',
      profile: {}
    }
  },
  created () {
    console.log('created profile')
  },
  components: {
    "svgicon": VueSVGIcon,
    "ui-icon": Icon
  },
  beforeCreate () {
    console.log('before')

    var vm = this
    var userId = vm.$route.params.userId
    vm.$bindAsObject('profile', db.ref('users/' + userId))
  },
  methods: {
  }
  // firebase: function () {
  //   var vm = this
  //   console.log('firebase in profile')
  //   console.log(vm)
  //   return {
  //     profile: db.ref('users/' + vm.uid)
  //   }
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
.profile-img {
  max-width:100px
}

.user-profile-body {
  margin-top: 36px;
}

.user-profile-body .user-cards {
  width: 140px;
  float: left;
}

.user-profile-body .user-details {
  width: auto;
  float: left;
  text-align: left;
  margin-left: -15px;
}

.user-details {
  max-width: 250px;
}

.user-details button {
  margin-left: 12px;
  margin-top: 0;
}

.user-basics-list > li:nth-child(1) {
  font-size: 1.6em;
}
.user-basics-list > li:nth-child(2) {
  font-weight: bold;
}
.user-basics-list > li:nth-child(3) {}
.user-basics-list > li:nth-child(4) {}
.user-basics-list > limit:nth-child(5) {}


</style>
